variable "linode_region" {
  default = "us-central"
}

variable "linode_image" {
  default = "linode/debian11"
}

variable "linode_label" {
  default = "namenamenamename"
}

variable "linode_type" {
  default = "g6-standard-1"
}

variable "key_name" {
  default = "namenamenamename"
}

variable "firewall_label" {
  default = "namenamenamename"
}

variable "wg_port" {
  default = "wireguardport"
}

variable "inbound_ports" {
  type = list
  description = "Inbound ports"
}

variable "LINODE_TOKEN" {}
