module "{{ hop_name }}" {
  source = "./modules/{{ hop_name }}"
  AWS_ACCESS_KEY = var.AWS_ACCESS_KEY
  AWS_SECRET_KEY = var.AWS_SECRET_KEY
  region = var.aws_region
}

{% if 'hop1' in hop_name %}
output "hop1_public_ip" {
  value = module.{{ hop_name }}.public_ip
}
{% elif 'hop2' in hop_name %}
output "hop2_public_ip" {
  value = module.{{ hop_name }}.public_ip
}
{% endif %}
