variable "size" {
  default     = "t2.micro"
  description = "Size of EC2 instance"
}
variable "delete_root_volume" {
  default     = "true"
  description = "Delete root volume of instance after removal"
}

variable "name_of_key" {
  default = "namenamenamename"
}

variable "vpc_cidr" {
  default = "192.168.0.0/16"
}

variable "vpc_subnet" {
  default = "192.168.0.0/24"
}

variable "wg_port" {
  default = "wireguardport"
}

variable "name" {
  default = "namenamenamename"
}

variable "ami" {
  description = "Debian 11"
  default     = "ami-05d7b6ab484d095b3"
}

variable "region" {
  default = "us-east-1"
}
